{% load static %}
<div class="top-strip">
    <div class="nav-left">
        <img src="{% static 'images/logo.jpg' %}" alt="WorkWhiz Logo" class="logo">
    </div>
    <div class="nav-right">
        <a href="{% url 'accounts:worker_dashboard' %}" class="nav-item">Dashboard</a>
        <a href="{% url 'accounts:worker_profile' %}" class="nav-item">Profile</a>
        <a href="{% url 'accounts:log_out' %}" class="nav-item">Logout</a>
        <div id="google_translate_element"></div>
    </div>
</div>
