{% load static %}
<!DOCTYPE html>
<html lang="{{ language|default:'en' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Team Members</title>
    <link rel="stylesheet" href="{% static 'css/style-aboutus.css' %}">
    {% include 'partials/_google_translate.html' %}
  </head>
  <body>
    {% include 'partials/_navbar_public.html' %}

    <div class="container">
      <header>
        <h1>Meet Our Team</h1>
        <p>Dedicated to Making a Difference</p>
      </header>

      <div class="team-section">
        <div class="member-card">
          <img src="{% static 'images/abdul.jpg' %}" alt="Shaikh Abdulrauf" />
          <h3>Shaikh Abdulrauf</h3>
          <h5>Contact: +91-XXXXX-XXXXX</h5>
          <h5>Email: arauf0801@gmail.com</h5>
          <p class="description">Backend developer with a love for secure, scalable systems using Django. Also enjoys frontend enhancements. Skilled in C++, HTML, CSS.</p>
        </div>

        <div class="member-card">
          <img src="{% static 'images/dev.jpg' %}" alt="Chauhan Dev" />
          <h3>Chauhan Dev</h3>
          <h5>Contact: +91-XXXXX-XXXXX</h5>
          <h5>Email: devc08412@gmail.com</h5>
          <p class="description">Frontend enthusiast building responsive, elegant UIs using HTML, CSS, JavaScript and has Database knowledge.</p>
        </div>

        <div class="member-card">
          <img src="{% static 'images/jinay.jpg' %}" alt="Shah Jinay" />
          <h3>Shah Jinay</h3>
          <h5>Contact: +91-XXXXX-XXXXX</h5>
          <h5>Email: jinayshah2207@gmail.com</h5>
          <p class="description">Creative problem solver who enjoys web development, animation, and game design. Loves tackling challenges, exploring new places, and freelancing his way toward a future in business.</p>
        </div>
      </div>

      <footer>
        <p>&copy; 2025 WorkWhiz. All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>